h2,h3,h4,h5,h6 {
    font-family: 'Playfair Display', serif;
    text-align: center;
    color: white;

}
h1{
    color: white;
    font-family: 'Lobster', cursive;
   
}
.copy{
    color: rgb(210, 255, 121);
    font-family: 'Playfair Display', serif;
    text-align: center;
}
/*enlazar el menu*/
:root{
    scroll-behavior: smooth;

}
body{
    background: linear-gradient(to right,pink,violet,blue);
     color: blueviolet;
}
.hola{
    color: rgb(70, 125, 228);
}
/*CONTENEDOR*/
.contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin:auto;
    padding: 60px 0;

}
header{
    height: 100vh;
    background-image: linear-gradient(to top, rgba(243, 160, 163, 0.267) 0%, rgba(250, 208, 196, 0.452) 99%, rgba(250, 208, 196, 0.486) 100%), url(../img/morado.jpg);
background-repeat: no-repeat ;
background-size: cover;
background-attachment: fixed;
background-position: center;
}
.head{
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
 flex-direction: column;

    }
.yo{
 
   
        display: flex;
        width: 400px;
        height: 100px ; 
        background-color: rgb(221, 39, 238);
padding: 0;       
justify-content: center;
align-items: center;  
color: white;
flex-wrap: wrap;
    }

/*menu*/
.menu-icono{
    position: fixed;
    top: 20px;
    right: 30px;
    background:rgb(111, 182, 230);
    width: 40px;
    height: 40px;
    cursor: pointer;/*manita sobre el*/
    border-radius: 12px;

}

.menu-navegacion{
    position: fixed;
    top: 0;
    right:  0;
    width: 30vw;
    height: 100%;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     align-items: center;
     transition:  transform .3s ease-in-out;
    transform: translate(110%);
     box-shadow: 0 0 6px rgb(61, 23, 201);
}
.pread{
    transform: translate(0);
}

.menu-navegacion{
    color: crimson;
    text-decoration: none;
}
/*yo*/
.contenedor-contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.social{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 40px;
     
}
/*contacto*/
.contenedor-contacto{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

}
.cont-expert img{
    width: 40%;
}
.frace{
  width: 45%;
}

.contenedor-galeria{
    display: flex; 
    justify-content: space-evenly;
    flex-wrap: wrap;  
}
.img-galeria{
width: 20%;

display: block;
margin-bottom: 15px;
box-shadow: 0 0 6px  rgb(245, 113, 113,0.5);
}
/*formulario*/
#formulario{
   
  display: flex; 
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;

}
.cont-formulario{
    width: 80%;
}
#blanco{
    color:white;
    text-align: center;
}

#color {
   color: blue;
    text-align: center;
    padding: 5px;
    margin: 10px;
}
button{
    border-radius: 20px;
    border: 1px solid slateblue;
    padding: 10px 30px;
    color: blue;

}
button:hover{
background-color: rgb(117, 180, 243);
}

#caja{
    background-color: rgb(188, 188, 240);
    text-align: center;
    width: 45%;/*ancho del recuadro*/
    height: 280px;
    margin:0 auto;/*centrar caja*/
    
}
