h2,h3,h4,h5,h6 {
    font-family: 'Playfair Display', serif;
    text-align: center;
    color: white;

}
h1 {
    color: white;
    font-family: 'Lobster', cursive;
   
}
.copy{
    color: rgb(210, 255, 121);
    font-family: 'Playfair Display', serif;
    text-align: center;
}
/*enlazar el menu*/
:root{
    scroll-behavior: smooth;

}
body{
    background: linear-gradient(to right,pink,violet,blue);
     color: blueviolet;
    
}
.hola{
    color: rgb(70, 125, 228);
}
/*CONTENEDOR*/
.contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin:auto;
    padding: 60px 0;

}
header{
    height: 100vh;
    background-image: linear-gradient(to top, rgba(243, 160, 163, 0.267) 0%, rgba(250, 208, 196, 0.452) 99%, rgba(250, 208, 196, 0.486) 100%), url(../img/morado.jpg);
    background-repeat: no-repeat ;
    background-size: cover;
background-attachment: fixed;
background-position: center;
}
.head{
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
 flex-direction: column;

    }

/*menu*/
.menuicono{
    position: fixed;
    top: 20px;
    right: 30px;
    background:rgb(213, 222, 228);
    width: 40px;
    height: 40px;
    cursor: pointer;/*manita sobre el*/
    border-radius: 12px;
     z-index: 10;
}

.menunavegacion{
    position: fixed;
    top: 0;
    right:  0;
    width: 30vw;
    height: 100%;
    background-image: linear-gradient(120deg, #a4b0c4 0%, #c9d8df 100%);
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     align-items: center;
     transition:  transform .3s ease-in-out;
    transform: translate(110%);
     box-shadow: 0 0 6px rgb(211, 16, 162);

    }
.spread{
    transform: translate(0);
}

.menunavegacion{
    color: crimson;
    text-decoration: none;
}
/*yo*/
.contenedor-contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.social{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
     
}
/* sobre mi*/
.alert{
    text-align: center;
   
}




/**************/
.imgicono:hover{
    background: #bc63f8;
    color: lightcoral;
    border-radius: 1px solid violet;
    border-radius: 50%;
    color: indigo;
    font-size: 20px;
}

/*contacto*/
.contenedor-contacto{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

}

.cont-expert img{
    width: 80%;
}
/*loader-descarga*/
.descarga{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 10px;
    
}

    .frace2{
    display: flex;
    width: 500px;
    height: 11px;
    justify-content: center;
    text-align: center;
   
   }
.verde{
    font-size: 20px;
    color: rgb(66, 240, 66);

}
/*css puro*/
.letras{
    color:transparent;
    margin: auto;
  background-position: center;
   background-size: cover;
  
   -webkit-text-stroke: 2px white;
 box-sizing: border-box;
 font-family: 'Coiny', cursive;
}


.input[type="text"]{
    height: 200px;
    width: 20px;
    background: lightskyblue;
    font-family: 'Segoe UI', sans-serif;
    font-weight: bold;
    font-size: 10px;
    border: none;
    border-radius: 10px;
    padding: 10px 10px;
}
.input[type="submit"]{
    height: 50px;
    width: 100px;
    background: lightskyblue;
    font-family: 'Segoe UI', sans-serif;
    font-weight: bold;
    font-size: 10px;
    border: none;
    border-radius: 2px;

}

.card{
    border-radius: 30px;
    padding: 2em;
    width: 100%;
    max-width: 500px;
    margin: 1em;

}
.weather , .card  {

    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
 flex-direction: column;
 width: 220px;
 height: 210px;
color: #ecf8f7;

}

#app-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

#temp{
    text-align: center;
    color: mintcream;
    font-size: 3rem;
}
#temp-icon{
    margin: 5rem;
    width: 100%;
    height: auto;

}
#local{
    color: mintcream;
    font-size: 2rem;
    font-family: 'Playfair Display', serif;

}
.card-img{
    width: 100%;
}

